<app-search></app-search>
<app-tags></app-tags>
<app-not-found [visible]="!foods || foods.length <=0" resetLinkText="Reset Search"></app-not-found>
<ul>
  <li *ngFor="let food of foods ">
    <a routerLink="/food/{{food.id}}">
      <img src="{{ food .imageUrl}}" alt="food images">
      <div class="content">
        <div class="name">
          {{food.name}}

        </div>


        <div class="stars">
          <star-rating [value]="food.stars" [totalstars]="5" checkedcolor="red" uncheckedcolor="black" size="22px"
            [readonly]="true">
          </star-rating>
        </div>
        <div class="product-item-footer">
          <div class="origins">
            <span *ngFor="let origin of food.origins">{{ origin }}</span>
          </div>

          <div class="clock-time">
            <span>
              <svg class='fontawesomesvg' xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path
                  d="M256 512C114.6 512 0 397.4 0 256S114.6 0 256 0S512 114.6 512 256s-114.6 256-256 256zM232 120V256c0 8 4 15.5 10.7 20l96 64c11 7.4 25.9 4.4 33.3-6.7s4.4-25.9-6.7-33.3L280 243.2V120c0-13.3-10.7-24-24-24s-24 10.7-24 24z" />
              </svg>
              {{food.cookTime}}
            </span>
          </div>
        </div>

        <div class="price">
          <span> {{food.price | currency}}</span>
        </div>
      </div>

    </a>
  </li>
</ul>